body {
width: 100%;
height: 100%;
margin: 0 auto;
}


.menu-principal {
    width: 100%;
    background-color: darkcyan;
}
main {
margin: 0 auto;
width: 100%;
position: relative;

}



.logo {
    width: 40%;
    float: left;
    position: absolute;
    padding: 23px;
   margin-left: 2px;
}

.redes-sociais ul li {
    margin-left: 11px;
    display: inline-block;
    
    list-style: none;
    
}
.redes-sociais {

    width: 30%;
    float: right;
    margin-top: -6%;
    
}
.header-2{
background-color: transparent;
width: 80%;
margin: auto;
padding: 10px;
height: 10px;

}
.menu-urls{

border-bottom: 10px solid #000000;
height: 5px;
margin-top: -2%;


}
.menu ul li{
    margin-left: 10px;
    display:inline-block;
    color: #63666a;
    
}
.menu ul li :hover{
    border-bottom: 1px solid aqua;
}
.menu ul li a:hover {
    color: aqua;
}
.menu ul li a {
    margin-left: 20px;
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;
}
.menu {
    width: 100%;
    float: left;
    margin-top: -10%;
}
.slider-principal {
    height: 58%;
    width: 100%;
    position: relative;
}


       

@font-face {
    font-family: 'gamegirl';
    src: url("../fonts/GAMEG___.TTF") format('truetype');
}
@font-face {
    font-family: 'pamela';
    src: url("../fonts/Pamela.ttf") format('truetype');
    
}   

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}
button.slick-prev {
    position: absolute;
    font-size: 0px;
    border: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    
    top: 35%;
    left: 0%;
}
button.slick-next {
    position: absolute;
    font-size: 0px;
    border: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-image: url('../img/rigth.png');
    top: 35%;
    right: 3%;
}

.slick-initialized {
    overflow: hidden;
}
.slick-dots li button{

    font-size: 0px;
    border: 2px solid #ffffff;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}
.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 40%;
    top: 350px;

}
li.slick-active button{
    background-color: aqua;
}
.slick-dots li {
    padding-left:11px;
    display: inline-block;

}
.texto-destaque{
    text-align: center;
}
.texto-destaque h1{
    margin-top: 15px;
    color:#274360;
    font-size: 60px;
    text-transform: uppercase;

}
.texto-destaque strong{
    color:#000000;
    font-family: 'Arial';
}
.texto-destaque p{
    font-size: 15px;
    color:#000000;
}
.col-3 {
    width: 33%;
    float:left;
    position: relative;
    margin-top: 5%;
}
.col-3 b{
    background-image: linear-gradient(to bottom, white, steelblue, white);
}
.end {
        border-bottom: 10px solid #000000;
        height: 1%;
        width: 100%;}

.col-100 h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 60px;
    color: #ffffff;
    background-image: linear-gradient(to bottom, transparent, steelblue, transparent);
    
}
	body{
        background-image: url("../img/background\ body.png");
        background-repeat: no-repeat;
		font-family: 'Roboto Condensed';
	}